/* 头部 */

body, html {
    min-width: 1200px;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.header {
    width: 100%;
    /* height: 100px; */
    background-color: #ddd;
}

.header-content {
    width: 1200px;
    display: flex;
    margin: 0 auto;
    height: 100px;
    justify-content: space-between;
}

.menu {
    height: 100px;
}

ul li {
    list-style: none;
}

.menu li {
    display: inline-block;
    line-height: 100px;
    font-size: 20px;
    margin-left: 20px;
}

li a {
    text-decoration: none;
    color: #222;
    cursor: pointer;
}

.header .title {
    font-size: 30px;
    font-family: KaiTi;
}

li a:hover {
    color: #ccc;
}

.iconfont.iconnaichabeizi {
    font-size: 60px;
    line-height: 100px;
    color: peru;
}

/* 内容 */

.banner {
    width: 100%;
    overflow: hidden;
    margin: 0 auto;
}

/* .banner img {
    width: 100%;
    height: 600px;
    margin: 0 auto;
} */

#bannerItem {
    margin: 0 auto;
    min-width: 1200px;
}

#bannerItem img {
    width: 100%;
    height: 100%;
    /* max-width: 1550px; */
    max-height: 600px;
}

.article {
    width: 100%;
}

.article .main-content {
    width: 1200px;
    margin: 20px auto;
}

h3, h4 {
    text-align: center!important;
}

.advice-box, #menu1, #menu2 {
    display: flex;
    justify-content: space-between;
}
#menu1 img ,#menu2 img{
    max-width: 250px;
    height: 200px;
}

.food {
    flex: 0 0 18%;
}
.advice h3,.goodness h3{
    font-weight: bold;
}
.adviceOne{
    margin-top: 20px;
}
.adviceOne h4,.adviceTwo h4{
    font-weight: bold;
   padding-bottom: 10px;
}
.goodness {
    margin: 0 auto;
}

.goodness {
    width: 1200px;
}

.goodness ul {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    font-size: 20px;
    font-weight: bold;
    padding: 0;
}
.goodness .iconfont{
    color: peru;
    font-size: 30px;
}

/* 底部 */

.notice .foot-subscript li {
    float: left;
    margin-left: 20px;
    list-style: none;
}

.notice .foot-subscript li a {
    display: inline-block;
    width: 32px;
    height: 32px;
    text-decoration: none;
}

.notice .foot-subscript li:first-child a {
    background: url("../image/qq.png") 0 0 no-repeat;
}

.notice .foot-subscript li:nth-child(2) a {
    background: url("../image/wx.png") 0 0 no-repeat;
}

.notice .foot-subscript li:nth-child(3) a {
    background: url("../image/taobao.png") 0 0 no-repeat;
}

.notice .foot-subscript li:last-child a {
    background: url("../image/wb.png") 0 0 no-repeat;
}

h4 .iconfont.icondianhua, .iconfont.iconguanzhu1, .iconfont.iconsaoma {
    font-size: 25px;
    margin-right: 5px;
    color: #1899ff;
}

.footer {
    background-color: #ddd;
    height: 200px;
    margin-top: 10px;
    padding-top: 20px;
}

.footer .footerContent {
    width: 1200px;
    margin: 0 auto;
    height: 200px;
    display: flex;
    justify-content: space-between;
}

.footerContent  ul  {
   padding: 0;
}

.connect h4, .saoma h4, .notice h4 {
    text-align: center;
    color: #222;
}